<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <style>
      main.page-content {
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 10px;
      }
    </style>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {%- include appendix.html -%}
  </body>

</html>